:root {
    --color-primary-dark: #011c44;
    --color-primary-ligth: #FFFFFF;
    --color-brand: #287FFF;
}

/*Base*/
body {
    color: var(--color-primary-dark);
}

ul {
    list-style-type: none;
}

/*Button*/
.button {
    color: var(--color-primary-ligth);
    background-color: var(--color-brand);
    border-radius: 27px;
    border: 2px solid var(--color-brand);
}

/*Link*/
.link:hover {
    color: var(--color-brand);
}

.link {
    color: var(--color-primary-dark);
}

.section-title {
    color: var(--color-primary-dark);
}

.section-title .accent {
    color: var(--color-brand);
}
